<h1 mat-dialog-title>Ingresa datos empleado</h1>
<div mat-dialog-content>
  <p>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="fill">
    <mat-label>fecha de ingreso</mat-label>
    <input matInput type="date" [(ngModel)]="data.fecha_ingreso">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="fill">
    <mat-label>salario</mat-label>
    <input matInput type="number" [(ngModel)]="data.salario">
  </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>