<div class="col-btn-add">
    <button mat-mini-fab color="info"  (click)="openDialog()" aria-label="Bottom search the documents">
        <mat-icon>add</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="fecha_ingreso">
      <th mat-header-cell *matHeaderCellDef> fecha de ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_ingreso}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="salario">
      <th mat-header-cell *matHeaderCellDef> salario </th>
      <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  